# macOS metadata file
*.DS_Store

# CPython cache directory
__pycache__/

# mypy chache directory
.mypy_cache/

# Jupyter Notebook checkpoints directory
.ipynb_checkpoints/

# Python virtual environment directory
.venv/
